.middle {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.section {
  height: 100%;
}

.dashboard {
  overflow: hidden;
  max-height: 100%;
}


.caregiver {
  height: 50%;

}
.schedule {
  border-bottom: 1px solid #eee;
  height: 50%;
}


.event {
  .timestamp {
    font-size: 1rem;
    float: right;
  }
}

.feed {
  max-height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
}
}
