@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,300,400italic|Open+Sans:400,400italic);

@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
   -webkit-align-items: center;

}
$lightBlue:   #5FAEE3;
$blue: #3498db;
$darkBlue:  #2980b9;

body {
  font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway';
}


.header {
  margin: 0 -12px;
  background:#2980b9;

color: white;
  h4 {
    text-align: center;
        padding: 10px;
        margin: 0;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
  }
}

.status {
  height: 44%;
  .content {
    margin: 0 -12px;
    .item {
      color: white;
      text-shadow: 1px 1px 5px #666;
      padding: 0 15px;
      @include flex;
      height: 25%;
      font-size: 1.2rem;
      &.warning {
        background: #f39c12;
      }
      &.good {
        background: #2ecc71;
      }
      &.danger {
        background: #e74c3c;
      }
    }
  }

}

.middle {
  border-left:1px solid #b3d9e4;
  border-right:1px solid #b3d9e4;
}

.section {
  height: 100%;
}

.dashboard {
  overflow: hidden;
  max-height: 100%;
}


.caregivers {
  .content {
  }
  .caregiver {
    img {
      max-width: 100%;
    }
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    h6 {
      margin: 0 0 5px 0;
      font-size: 1.5rem;
      border-bottom: 1px solid #3498db;
      padding: 0 0 3px 0;
      color: #2980b9;
      font-weight: bold;
    }
    p {
      margin: 0;
    }
  }
}
.patient {
  height: 50%;
}

.patient {
  .info {
    img {
      max-width: 100%;
      border-radius: 50%;
    }
    .vital {
      display: inline-block;
      padding: 10px 0 0 0;
    }

    .details {
      .bio {
        font-family: 'Raleway';

        h5 {
          font-weight: bold;
          font-size: 2.3rem;
          color: $darkBlue;
          margin-bottom: 0;
        }
        .detail {
            font-size: 1.2rem;

        }
      }
      .detail {

        font-size: 1.2rem;
        display: block;
        .key {
          font-weight: bold;
          color: $darkBlue;
        }
      }
      .group {
        margin: 15px 0;
      }
    }
  }
}

.schedule {
  border-bottom: 1px solid #eee;
  height: 50%;
  .schedule-item {
    display: inline-block;
    width: 100%;
    margin: 5px;
    background: $blue ;
    color: white;
    padding: 15px 10px;
    font-size: 1.2rem;
    &:nth-child(2n) {
      background: $lightBlue;
    }
    .name {
      text-transform: uppercase;
      font-weight: bold;
      font-family: 'Raleway';

    }
    .time {
      text-align: right;
      font-family: 'Raleway';
      font-style: italic;
    }
  }
}


.event {
  border-bottom: 1px solid #eee;
  padding: 5px 12px;
  .timestamp {
    font-size: 1rem;
    float: right;
  }
}

.feed {
  margin: 0 -12px;

}

.feed .content{
  max-height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
}
}
